

.container{
    position: relative;
    margin-top: 20%;
}

.container ul{
    list-style: none;
}
.chitsLoading {
    text-align: center;
    color: white;
  }

.chitsError {
    text-align: center;
    color: red;
  }

